body {
  background-color: #000;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.quote__author {}

.quote__author--green {
  color: green;
}

.quote__author--blue {
  color: blue;
}

.quote__author--red {
  color: red;
}

.quote__author--yellow {
  color: yellow;
}

.button {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
}

.button a:link, .button a:visited {
  text-decoration: none;
}

.button--green {
  border-color: green;
}

.button--green, .button--green a:link, .button--green a:visited {
  color: green;
}

.button--blue {
  color: blue;
  border-color: blue;
}

.button--blue, .button--blue a:link, .button--blue a:visited {
  color: blue;
}

.button--red {
  color: red;
  border-color: red;
}

.button--red, .button--red a:link, .button--red a:visited {
  color: red;
}

.button--yellow {
  border-color: yellow;
}

.button--yellow, .button--yellow a:link, .button--yellow a:visited {
  color: yellow;
}

.lightsaber {
  display: flex;
}

.lightsaber__blade {
  width: 300px;
  height: 20px;
  filter: blur(1px);
  border-radius: 10px 0 0 10px;
  transition: width 0.3s;
}

.lightsaber__blade--green {
  background: linear-gradient( transparent, green, #55ff22, #fff, #fff, #fff, #55ff22, green, transparent);
}

.lightsaber__blade--blue {
  background: linear-gradient( transparent, blue, #298fca, #fff, #fff, #fff, #298fca, blue, transparent);
}

.lightsaber__blade--yellow {
  background: linear-gradient( transparent, #ffd300, yellow, #fff, #fff, #fff, yellow, #ffd300, transparent);
}

.lightsaber__blade--red {
  background: linear-gradient( transparent, #CC0000, #ff0800, #fff, #fff, #fff, #ff0800, #CC0000, transparent);
}

.lightsaber__hilt {
  height: 20px;
  width: 100px;
  background: linear-gradient( transparent, #333, #666, #ccc, #999, #333, transparent);
  border-radius: 5px;
  cursor: pointer;
}